* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../assets/background/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn_block {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    z-index: 2;
}

.primary-btn {
    display: inline-block;
    font-size: 15px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    padding: 14px 32px 12px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    color: #6b4eeb;
    text-decoration: none;
    background-color: transparent;
    margin-top: 15px;
    cursor: pointer;
}

.primary-btn:hover {
    color: red;
}

.primary-btn:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    border-left: 2px solid rgb(23, 8, 236);
    border-top: 2px solid rgb(23, 8, 236);;
    content: "";
    z-index: -1;
    -webkit-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    transition: all, 0.7s;
}

.primary-btn:after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    border-right: 2px solid rgb(23, 8, 236);
    border-bottom: 2px solid rgb(23, 8, 236);
    content: "";
    z-index: -1;
    -webkit-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    transition: all, 0.7s;
}

#container {
    width: 800px;
    height: 500px;
    border: 3px solid rgb(23, 8, 236);
    background-image: url(../assets/background/water.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#final_score_root {
    height: 80px;
    width: 800px;
    display: flex;
}

#final_score {
    height: 100%;
    font-weight: bold;
    font-size: 1.5rem;
}